<!DOCTYPE html>
<html>
  <head>
    <title>SpotTheBeat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">
      </div>
    </nav>
  </header>


  <body>
    <%= yield %>
  </body>
</html>
